
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding : 40px;
    background-color: #f0f0f0;
}